# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# os-specific
.DS_Store

# errors
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# locks
yarn.lock
package-lock.json
